
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/static/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    font-size: 15px;
}

main:not(:has(div.scoreboard-container)):not(:has(div.challenges-container)):not(:has(div.admin)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

main:has(div.challenges-container), main:has(div.scoreboard-container) {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px 20px;

}

main:has(div.admin) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


nav a {
    color: var(--primary);
    text-decoration: none;
    background: none;
    margin: 0 10px;
    font-family: "Cascadia Code", Monospaced, monospace;
    cursor: pointer;
}

button, input {
    background: rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: var(--primary);
    font-family: "Cascadia Code", Monospaced, monospace;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 13px;
}
h1 {
    justify-content: center;
    text-align: center;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--secondary);
}

input::placeholder {
    font-family: "Cascadia Code", Monospaced, monospace;
    color: var(--primary);
    opacity: 0.1;
}

div.admin {
    text-align: left;
    justify-content: center;
}


.login, .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

:root {
    font-family: "Cascadia Code", Monospaced, monospace;
    --primary: white;
    --secondary: rgba(35, 35, 35, 0.5);
    color: var(--primary);
    background: var(--secondary);
    font-size: 13px;
}